<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body style="background-color: blueviolet;">
<form method="post" enctype="multipart/form-data" action="/">
{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">upload</button>
</form>

<div class="container">
    <div class="row">
        {% for i in images %}
        <div class="col-sm-4">
        <div class="card m-2">
        <img src="{{ i.image.url }}" class="card-img-top" style="height: 200px">
        </div>
        </div>
        {% endfor %}
    </div>
</div>    
</body>
</html>